<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HSS_API_Store_EmailAddress" value="{your email address}" />
    <add key="HSS_API_Store_PasswordsKey" value="{your api key}" />
    <add key="HSS_API_Store_FoodsKey" value="{your api key}" />
    <add key="HSS_API_Store_PeopleKey" value="{your api key}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>